<div class="auth-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email">E-mail: </label>
            <input type="email" placeholder="Digite seu e-mail" name="email" required>
        </div>
        <div class="form-control">
            <label for="password">Digite sua senha: </label>
            <input type="password" placeholder="Digite a senha" name="password" required>
        </div>
        <input type="submit" value="Entrar" class="btn">
        <p>Nao tem conta? <a href="/register">Clique aqui!</a></p>
    </form>
</div>
