<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/register" method="POST">
        <div class="form-control">
            <label for="name">Nome: </label>
            <input type="text" placeholder="Digite seu nome" name="name" required>
        </div>
        <div class="form-control">
            <label for="email">E-mail: </label>
            <input type="email" placeholder="Digite seu e-mail" name="email" required>
        </div>
        <div class="form-control">
            <label for="password">Crie uma senha: </label>
            <input type="password" placeholder="Digite a senha" name="password" required>
        </div>
        <div class="form-control">
            <label for="confirmpassword">Confirme a senha: </label>
            <input type="password" placeholder="Digite a senha novamente" name="confirmpassword" required>
        </div>
        <input type="submit" value="Cadastrar" class="btn">
        <p>Já tem conta? <a href="/login">Clique aqui!</a></p>
    </form>
</div>