<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add"><button class="btn">Criar pensamentos</button></a>
    </div>
    <h3>Seus pensamentos</h3>
    <ul>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions">
                <a href="/toughts/edit/{{this.id}}"><button class="btn">Editar</button></a>
                <form action="/toughts/remove" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p>Ainda nao ha nenhum pensamento criado, <a href="/toughts/add">clique aqui</a> pra criar!</p>
    {{/if}}
</div>